@{
    ViewData["Title"] = "My Hobby";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Much of my free time has been spent reading James Clavell novels recently.</p>
    <img src="img/james.jpg" />
    <p>James Clavell (born Charles Edmund Dumaresq Clavell) was an Australian‑born British‑American writer, screenwriter, and filmmaker best known for his epic novels set in Asia.</p>
    <p>
        He was born on October 10 (sources differ on 1921 vs 1924), in Sydney, New South Wales, Australia, to a British Royal Navy family and was raised mainly in England.

        During World War II he served in the British Army’s Royal Artillery and was sent to Southeast Asia.

        In 1942 he was wounded, captured by the Japanese in Java, and spent several years as a prisoner of war in Changi Prison in Singapore, an experience that later inspired his first novel, King Rat.
    </p>
    <p>I discovered Shogun on my mission while passing through a yard sale. I didn't buy the book then, but I knew that it was a book that I wanted to read.</p>
    <p>I forgot about this goal until FX came out with "Shogun" on Hulu. I watched the show, and decided that I wanted to read the book.</p>
    <img src="img/shogun.jpg" />
    <p>Shōgun is a historical novel set in early 17th‑century Japan, following English pilot John Blackthorne after he is shipwrecked and drawn into the dangerous political struggle of the warlord Toranaga, who aims to become shōgun (military ruler). As Blackthorne learns Japanese language and customs, he becomes both pawn and ally in a complex web of power, culture clash, loyalty, and romance, especially through his relationship with the noblewoman Mariko.</p>
    <img src="img/taipan.jpg" />
    <p>After I finished Shogun, I wanted to read more of Clavell's novels, so I picked up Tai-Pan.'</p>
    <p>Tai-Pan is a historical novel set in 1841, during the founding of British Hong Kong after the First Opium War, centered on ruthless Scottish trader Dirk Struan, the “tai-pan” (supreme leader) of the powerful trading firm Struan & Company. The story follows his fierce rivalry with fellow trader Tyler Brock, as their families, fortunes, and alliances become entangled amid opium-fueled commerce, political intrigue, and cultural conflict between the British and Chinese worlds.</p>
    <p>I was very surprised to learn that I like historical fiction, especially fiction not centered around America, but these books are amazing and Clavell is an impressive author. I can't wait to read the rest of his books!'</p>
</div>
